@import url('../../variables.css');

.interactable {
  height: var(--size--tile);
  position: absolute;
  width: var(--size--tile);
  z-index: var(--z-index--interactable);
}

.interactable.bush-bearberry {
  background-color: var(--color--red-light);
  opacity: 0.2;
}

.interactable.fuel-stick {
  background-color: var(--color--brown);
  opacity: 0.2;
}

.interactable.starter-matches {
  background-color: var(--color--blue);
  opacity: 0.2;
}

.interactable.tinder-newspaper {
  background-color: var(--color--white);
  opacity: 0.2;
}
