@import url('../../variables.css');

.tile {
  height: var(--size--tile);
  position: absolute;
  width: var(--size--tile);
  z-index: var(--z-index--tile);
}

.tile.placeholder-empty {
  background-color: var(--color--blue-light);
}

.tile.rock-basic {
  background-color: var(--color--gray);
}

.tile.tree-birch {
  background-color: var(--color--green-light);
}

.tile.water-basic {
  background-color: var(--color--blue);
}
