@import url('../../variables.css');

.animal {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: var(--size--tile);
  position: absolute;
  width: var(--size--tile);
  z-index: var(--z-index--interactable);
}

.animal .deer-elk {
  background-color: var(--color--brown);
  height: var(--size--tile);
  width: var(--size--tile);
}

.animal .wolf-arctic {
  background-color: var(--color--white);
  height: var(--size--tile);
  width: var(--size--tile);
}
