@import url('../../variables.css');

.item {
  height: var(--size--tile);
  width: var(--size--tile);
}

.item.item__clothing__hat-beanie-wool {
  background-color: var(--color--blue);
}

.item.item__clothing__jacket-denim {
  background-color: var(--color--blue);
}

.item.item__clothing__pants-jeans {
  background-color: var(--color--blue);
}

.item.item__clothing__shirt-cotton {
  background-color: var(--color--blue);
}

.item.item__clothing__shoes-sneakers {
  background-color: var(--color--blue);
}

.item.item__clothing__socks-cotton {
  background-color: var(--color--blue);
}

.item.item__clothing__underwear-cotton {
  background-color: var(--color--blue);
}

.item.item__consumable__bearberry {
  background-color: var(--color--blue);
}

.item.item__consumable__bottle-water {
  background-color: var(--color--blue);
}

.item.item__consumable__crisps-tomato {
  background-color: var(--color--blue);
}

.item.item__fire__fuel-stick {
  background-color: var(--color--blue);
}

.item.item__fire__starter-matches {
  background-color: var(--color--blue);
}

.item.item__fire__tinder-newspaper {
  background-color: var(--color--blue);
}
