@import url('../../variables.css');

#player {
  background-image: url('/src/images/character.png');
  height: var(--size--tile);
  position: absolute;
  width: var(--size--tile);
  z-index: var(--z-index--player);
}
