@import url('../../variables.css');

#player {
  background-color: var(--color-red-light);
  height: var(--size-tile);
  position: absolute;
  width: var(--size-tile);
  z-index: var(--z-index--player);
}
