:root {
  --color--black: black;
  --color--blue: blue;
  --color--blue-light: lightblue;
  --color--brown: sienna;
  --color--gray: grey;
  --color--gray-light: #eee;
  --color--green-light: lightgreen;
  --color--red-light: lightcoral;
  --color--white: white;

  --size--extra-small: 4px;
  --size--small: 8px;
  --size--normal: 16px;
  --size--tile: 80px;

  --z-index--map: 0;
  --z-index--tile: 5;
  --z-index--interactable: 10;
  --z-index--player: 15;
  --z-index--environment: 20;
  --z-index--hud: 25;
  --z-index--control: 30;
  --z-index--menu: 35;
  --z-index--end-screen: 40;
}
