@import url('../../../variables.css');

#interaction-overlay {
  position: fixed;
  right: 0;
  top: var(--size--normal);
}

#interaction-overlay .interaction-overlay__action--open {
  height: var(--size--tile);
  width: var(--size--tile);
}
